<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
<IfModule mod_php5.c>
php_value memory_limit 256M
</IfModule>
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET,POST,PUT,DELETE,OPTIONS,PATCH"
Header set Access-Control-Allow-Credentials "true"
Header set Access-Control-Allow-Headers "Origin,Content-Type,type,authenticationToken,operation,jfId,fromDate,toDate,ledgerGroup,ledgerName,productName,productCategoryId,productGroupId,salesType,productId,color,size,productCode,companyId,branchId,nextSaleId,previousSaleId,journalType,invoiceNumber,clientName,contactNo,quotationNumber,invoiceFromdate,invoiceToDate,jobCardFromDate,jobCardToDate,jobCardNumber,emailId,address,previousQuotationId,nextQuotationId,previousPurchaseId,nextPurchaseId,purchaseBillId,billNumber,professionId,saleId,isSalesOrderUpdate,isSalesOrder"